<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>help</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Arvo&family=Noto+Sans&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="bootstrap.css">
    <link rel="stylesheet" href="bootstrap.min.css">

    <style>
        .ritik{
            font-family: 'Arvo', serif;
            font-weight: bold;
        }
        .a{
            padding-top: 10px;
        }

    </style>
</head>
<body  style="background-color: rgb(221, 244, 255);">
    <script src="bootstrap.bundle.min.js"></script>
    <br>

    <div class="container-fluid">
        <div class="row">
            <div class="col-4"></div>
            <div class="col h2 ritik">Thank you for visiting us !</div>
        </div>
        <hr>
        <div class="row">
            <div class="col h5">:- You can send multiple emails from this app very easily and quickly.</div>
        </div>
        <br><br>
        <div class="row">
            <div class="col-1"></div>
            <div class="ritik col-3 h2">Some key points:</div>
            <div class="a col h5">Before sending the mails make sure thes key points.</div>
        </div>
        <br><br>
        <div class="row">
            <div class="col-1"></div>
            <div class="col h6"><b>1. </b> </div>
        </div>
        <div class="row">
            <div class="col-1"></div>
            <div class="col h6"><b>2. </b></div>
        </div>
        <div class="row">
            <div class="col-1"></div>
            <div class="col h6"><b>3. </b></div>
        </div>
        <div class="row">
            <div class="col-1"></div>
            <div class="col h6"><b>4. </b></div>
        </div>
        <div class="row">
            <div class="col-1"></div>
            <div class="col h6"><b>5. </b></div>
        </div>
        <div class="row">
            <div class="col-1"></div>
            <div class="col h6"><b>6. </b></div>
        </div>
        <br><br>
        <div class="row">
            <div class="col-5"></div>
            <div class="col h4"><i>Thank You !</i></div>
        </div>
        <br><br><br>
        <div class="row">
            <div class="col-10"></div>
            <div class="col">coded by:- <b><i>Ritik Singh</i></b></div>
        </div>
    </div>
    
</body>
</html>